body, button {
    font-family: sans-serif;
}

.quadrato {
    width: 100px;
    height: 100px;
    margin-bottom: 2vh;
}

.bgVerde {
    background-color: green;
}

.bgArancione {
    background-color: orange;
}

button {
    background-color: whitesmoke;
    color: black;
    outline: none;
    border: 2px solid lightgray;
    padding: 10px 20px;
    border-radius: 99px;
    cursor: pointer;
}